<form [formGroup]="postChoiceForm">
    <div>
        <label for="bd">Business Description: </label>
        <input type="text" name="bd" id="bd" placeholder="Enter data" required formControlName="business_description" />
    </div>

    <form class="dropdowns" [formGroup]="postChoiceForm">
        <div class="left">
            <div>
                <label for="login">Step 1: </label>
                <select name="login" id="login" required formControlName="step1">
                    <option value="login">Login</option>
                </select>
            </div>

            <div>
                <label for="step2">Step 2: </label>
                <select name="step2" id="s2" required formControlName="step2">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>

            <div>
                <label for="step3">Step 3: </label>
                <select name="step3" id="s3" required formControlName="step3">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>

            <div>
                <label for="step4">step 4: </label>
                <select name="step4" id="s4" required formControlName="step4">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>

        </div>

        <div class="right">
            <div>
                <label for="step5">Step 5: </label>
                <select name="step5" id="s5" required formControlName="step5">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>    

            <div>
                <label for="step6">Step 6: </label>
                <select name="step6" id="s6" required formControlName="step6">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>

            <div>
                <label for="step7">Step 7: </label>
                <select name="step7" id="s7" required formControlName="step7">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option *ngFor="let item of steps" value={{item.step}}>{{item.step}}</option>
                </select>
            </div>

            <div>
                <label for="step8">step 8: </label>
                <select name="step8" id="s8" required formControlName="step8">
                    <option class="selectdefault" value="none" selected disabled hidden>Select</option>
                    <option value="kyc">KYC Report</option>
                </select>
            </div>

        </div>

        
    </form>
                
        

    <button class="primary-btn" type="button" (click)="postChoiceData()">Submit</button>

    <hr class="divider">



</form>