
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

input{
    background-color: #3E3B61;
    height: 30px;
    border-radius: 15px;
    width: 430px;
    border: none;
    padding: 11px 0 12px 20px;
    color: white;
}

input:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

select{
    color: white;
    background-color: #3E3B61;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 18px;
}

label{
    color: white;
    font-size: 20x;
    font-weight: 400;
    padding: 10px;
}

.boxbox{
    display: flex;
}

.stepy{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 44px;
    font-size: 20px;
    font-weight: 300;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.formy{
    margin-bottom: 50px;
    margin-top: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.primary-btn{
    height: 50px;
    width: 150px;
    font-weight: 500;
    color:#3E3B61 ;
    background-color:#00C2FF ;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}

.primary-btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow: 4px 4px 0 0 white;
    transition: 0.3s ease-in;
}

.divider{
    border: 1px solid white;
    width: 90vh;
    margin: auto;
    margin-bottom: 50px;
}

.dropdowns{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    flex-direction: row;
}

.left{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}