*{
    color: white;
}

.grow-business-division{
    display: flex;
    margin: 50px;
    width: 100%;
}

.grow-business-left{
    width: 30%;
    margin-right: 15px;
}

h1.grow-business-title{
    font-size: 50px;
}

.grow-business-right{
    width: 70%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.grow-business-steps{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grow-business-step-heading{
    display: flex;
    gap: 20px;
    align-items: center;
}

.rank{
    color: blueviolet;
    font-size: 55px;
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.description{
    font-size: 18px;
    font-weight: 400;
    width: 90%;
}
/* 
hr{
    margin-bottom: 100px;
} */

/* For title to remain fixed */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    margin: 0px 50px 0px 50px;
    z-index: 999; /* Ensure it's on top of other content */
    /* transition: top 0.5s ease; */
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  
  .placeholder {
    display: none; /* Initially hidden */
    height: 50px; /* Adjust height as needed */
    /* width: 30%; */
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
   