<div class="grow-business-division">
    <div class="grow-business-left">
        <h1 class="grow-buiness-title">Grow Your Business with Jio VCIP</h1>
    </div>

    <div class="grow-buiness-right">
        <div class="grow-buiness-steps" *ngFor="let item of growbusinesssteps" >
            <div class="grow-business-step-heading">
                <h1 class="rank"> {{item.rank}} </h1>
                <h2 class="title"> {{item.title}} </h2>
            </div>
            <h4 class="description"> {{item.desc}} </h4>
        </div>
    </div>
</div>