.vkyctopheading{
    color: white;
    margin: 50px 0 0px 80px;
}

.mainbox{
    display: flex;
    margin: 0px 10px 0px 80px;
    color: white;
    line-height: 40px;
    height: fit-content;
}

table, th, td{
    border: 0.5px solid white;
    border-collapse: collapse;
    padding: 3px 8px 3px 8px;
    width: 75vw;
    margin-bottom: 50px;
}

.content{
    width: 85%;
    display: flex;
    gap: 10px;
    margin-top: 50px;
    height: fit-content;
}

.yourdata{
    width: 15%;
    margin-top: 50px;
    height: fit-content;
}

.video{
    background-color: gray;
    width: 20vw;
    height: 60vh;

}

video{
    width: 20vw;
    height: 60vh;
}
.vertical{
    width: 2px;
    height: 100vh;
    color: white;
    background-color: white;
    margin-right: 10px;
}
div.titles h4{
    z-index: 200;
    position: absolute;
}
i.fa-solid{
    z-index: 100;
    margin-left: 150px;
    cursor: pointer;
}

div.titles hr{
    overflow: hidden;
}