<app-homenavbar></app-homenavbar>
<div class="mainbox">
  
  <div class="content">
    
    <div class="video">
    </div>

      <div class="heads">
        <div class="headingyourdata">
            <h4 class="yourdatahead">Your Journey:</h4>
        </div>

        <div class="journeylist">
            <!-- <ol class="jlist">
              <li *ngFor="let item of stepslist">{{item.step}}</li>
            </ol> -->
            
            <h4 *ngFor="let choice of data">Business Description: {{choice.businessdesc}} <br><br>
            Step 1: {{choice.step1}} <br><br> 
            Step 2: {{choice.step2}} <br><br> 
            Step 3: {{choice.step3}} <br><br> 
            Step 4: {{choice.step4}} <br><br> 
            Step 5: {{choice.step5}} <br><br> 
            Step 6: {{choice.step6}} <br><br> 
            Step 7: {{choice.step7}} <br><br>  </h4>
            
        </div>
      </div>
  </div>
  
  <hr class="vertical">
  
  <div class="yourdata">
    <div class="headingyourdata">
      <h4 class="yourdatahead">Your Data:</h4>
    </div>
    
    <div class="dataheadings">
      <div class="titles" *ngFor="let item of stepslist">
        <h4 class="titlesheading">{{item.step}}</h4>
        <div class="expandicon"><i class="fa-solid fa-angle-down"></i></div>
        <hr>
      </div> 

  </div>

</div>

