<app-homenavbar></app-homenavbar>

<div class="vkyctop">
  <h1 class="vkyctopheading">Thank You for Choosing VCIP</h1>
</div>

<div class="mainbox">
  
  <div class="content">
      <div class="heads">
        <div class="headingyourdata">
            <h4 class="yourdatahead">Your Journey:</h4>
        </div>

        <div class="journeylist">
            <table>

              <thead>
                <tr>
                  <th>Business Description</th>
                  <th>Step 1</th>
                  <th>Step 2</th>
                  <th>Step 3</th>
                  <th>Step 4</th>
                  <th>Step 5</th>
                  <th>Step 6</th>
                  <th>Step 7</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let record of latestRecord">
                  <td>{{record.Business_Description}}</td>
                  <td>{{record.step1}}</td>
                  <td>{{record.step2}}</td>
                  <td>{{record.step3}}</td>
                  <td>{{record.step4}}</td>
                  <td>{{record.step5}}</td>
                  <td>{{record.step6}}</td>
                  <td>{{record.step7}}</td>
                </tr>
              </tbody>

            </table>
        </div>
      </div>
  </div>
  
</div>
<hr>
<app-footer></app-footer>



