<div class="learn-more-section">
    <h4>About VCIP</h4>
    <p class="description">VCIP is an end-to-end encrypted, real-time, video-based customer identification & verification procedure introduced by the RBI. It enables banks & other regulated financial institutions to conduct paperless KYC over a video call with the assistance of a trained official.</p>

    <button id="primary-btn-hover" class="primary-btn">Learn More</button>

    <div class="images">
        <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk1.webp" alt="stock image 1">
        <div class="image-flex">
            <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk2.webp" alt="stock image 2">
            <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk3.webp" alt="stock image 3">
        </div>
        <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk4.webp" alt="stock image 2">
        <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk1.webp" alt="stock image 3">
        <img src="https://jep-asset.akamaized.net/cms/assets/jfs/home/about-jio-finance-desk4.webp" alt="stock image 4">
    </div>



</div>
<app-carousel></app-carousel>