<div class="footerdivision">
    <div class="footerinfo">
        <h2 class="footervkyc">VCIP</h2>
        <p class="infop">VCIP is a secure solution that enables your customers to verify themselves from the comfort of their homes.</p>
        <div class="social-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <h5 class="reviewsheading">See Our Glowing Reviews on:</h5>
        <div class="social-links reviews">
            <i class="fab fa-stack-overflow fa-2x" style="color: #ffac44;"></i><h5 class="reviewheads">Stack Overflow</h5>
            <i class="fab fa-reddit-alien fa-2x" style="color: #ff4500;"></i><h5 class="reviewheads">Reddit</h5>
        </div>
    </div>



    <div class="footercolumns">
        <div class="footercol">
            <h5 class="footerheading">Our Business</h5>
            <ul>
                <li>Banks</li>
                <li>Corporate</li>
            </ul>
        </div>

        <div class="footercol">
            <h5 class="footerheading">Our Company</h5>
            <ul>
                <li>About us</li>
                <li>Board Of Directors</li>
                <li>Board Of Committees</li>
                <li>Management</li>
            </ul>
        </div>

        <div class="footercol">
            <h5 class="footerheading">Investor Relations</h5>
            <ul>
                <li>Financials</li>
                <li>Policy Documents</li>
                <li>Investor Contacts</li>
                <li>Grievance Mechanism</li>
                <li>Downloads</li>
                <li>Corporate Announcements</li>
                <li>Notices</li>
                <li>Shareholder's Information</li>
            </ul>
        </div>

        <div class="footercol">
            <h5 class="footerheading">Quick Links</h5>
            <ul>
                <li>Contact Us</li>
                <li>Career</li>
                <li>RBI Guidelines</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>

<hr>
<div class="copyrightdiv">
    <div class="logo">
        <a routerLink="/home">Jio</a>
    </div>
    <p class="copyright">© 2023 Jio Video-Based Customer Identification Process Ltd.</p>
</div>
<hr>