h4{
    font-size: 30px;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.box{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flow{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol{
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    margin: auto;
    width: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 50px;
}

ol li{
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    color: white;
    font-size: 20px;
}

.divider{
    border: 1px solid white;
    width: 100vw;
    margin: auto;
    margin-top: 50px;
}
.primary-btn{
    height: 50px;
    width: 300px;
    font-weight: 500;
    color:#3E3B61 ;
    background-color:#00C2FF ;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 50px;
}

.primary-btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow: 4px 4px 0 0 white;
    transition: 0.3s ease-in;
}