<!-- <div class="box">
    <h4>Video KYC Flow</h4>
    <div class="flow">
        <ol>
            <li>Login</li>
            <li>Personal Details</li>
            <li>Location</li>
            <li>PAN Card</li>
            <li>DigiLocker</li>
            <li>Face Match</li>
            <li>KYC Report</li>
        </ol>
        
    </div>
</div>  -->

<div class="flowcards">
    <h4>Video KYC Flow</h4>
    <div class="cards">
        <div class="onecard" *ngFor="let flowitem of flowlist" >
            <mat-icon> {{flowitem.flowIcon}} </mat-icon>
            <h3> {{flowitem.flowTitle}} </h3>
        </div>
    </div>
    <button class="primary-btn" routerLink="/journey">Create Your Journey</button>
</div>