<app-navbar></app-navbar>

<!-- Sign up Box -->
<div class="signupbox">
    <div class="signupbox-left">
        <div class="heading">
            <div class="logo">Jio</div>
            <div class="head">Video KYC</div>
        </div>
        <h1>Become a Partner</h1>
        <div class="already">
            <h4>Already a Partner?</h4>
            <a class="link" routerLink="/login">Login!</a>
        </div>
    </div>
    
    <div class="signupbox-right">
        <div class="form">
        
            <input type="text" placeholder="UserName">
            <input type="email" placeholder="Company Email ID">
            <input type="password" placeholder="Password">
            <button class="primary-btn" routerLink="/login">Become a Partner</button>
        </div>
    </div>
</div>

