<app-navbar></app-navbar>
<div class="signupbox">
    <div class="heading">
        <div class="logo">Jio</div>
        <div class="head">Video KYC</div>
    </div>

    <h1>Create New Account</h1>

    <div class="already">
        <h4>Already have an account?</h4>
        <a class="link" routerLink="/login">Login!</a>
    </div>
    
    <div class="form">
        
        <input type="text" placeholder="UserName">
        <input type="text" placeholder="Email ID">
        <input type="text" placeholder="Password">
        <button class="primary-btn" routerLink="/login">Create Account</button>

    </div>
</div>
