<app-navbar></app-navbar>
<div class="signupbox">
    <div class="heading">
        <div class="logo">Jio</div>
        <div class="head">Video KYC</div>
    </div>

    <h1>Create New Account</h1>

    <div class="already">
        <h4>Already have an account?</h4>
        <a href="/login" class="link">Login!</a>
    </div>
    
    <div class="form">
        <div class="names">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
        </div>

        <input type="text" placeholder="Email ID">
        <input type="text" placeholder="Password">
        <button class="primary-btn">Create Account</button>

    </div>
</div>
