<app-navbar></app-navbar>


<div class="signupbox">
    <div class="heading">
        <div class="logo">Jio</div>
        <div class="head">Video KYC</div>
    </div>

    <h1>Login</h1>

    <div class="already">
        <h4>Don't have an account?</h4>
        <a class="link" routerLink="/signup">Sign Up!</a>
    </div>
    
    <form class="form" >
    
        <input type="text" name="username" placeholder="UserName" required [(ngModel)]="username">
        <input type="text" name="email" placeholder="Email ID" required [(ngModel)]="email">
        <input type="text" name="password" placeholder="Password" required [(ngModel)]="password">
        <button class="primary-btn" type="button" (click)="login()" routerLink="/home">Login</button>

    </form>
</div>

