<nav>
    <div class="flexbox">
        <div class="logo">
            <a routerLink="/home">Jio</a>
        </div>
        <ul class="nav-list">
            <li class="nav-item" routerLink="/home">Home</li>
            <li class="nav-item" routerLink="/vkyc">Partner Management</li>
            <li class="nav-item">About Us</li>
        </ul>
        <div class="buttons">
            <button class= "loginbtn" routerLink="/login">Login</button>
            <button class="signupbtn" routerLink="/signup">Sign Up</button>
        </div>
        
    </div>
</nav>
<hr class="navdivider">