.flexbox{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    /* gap: 120px; */
}

.logo{
    background:linear-gradient(to right,rgb(96, 96, 255), blue) ;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-left: 70px;
    cursor: pointer;
    /* font-family: 'Archivo Black',sans serif; */
}

div.logo a{
    text-decoration: none;
    color: white;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-item{
    font-size: 16px;
    color: white;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #e91e63;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav-item:hover{
    color: #59c5f0;
    transition: 0.25s ease-out;
}

nav{
    background: linear-gradient(to  right, #232649, #301b35);
    width: 100vw;
    height: 80px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-right: 70px;
}

/* .loginbtn{
    color: white;
    background-color: inherit;
    border: 1px solid white;
    border-radius: 5px;
    height: 35px;
    width: 90px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.loginbtn:hover{
    box-shadow: 4px 4px 0 0 white;
    transition: 0.2s ease-in;
    border: none;
} */

.signupbtn:hover{
    box-shadow: 4px 4px 0 0 #ffffff;
    transition: 0.2s ease-in;
    border: none;
}

.signupbtn{
    height: 35px;
    width: 90px;
    font-size: 16px;
    margin: 0;
}

.navdivider{
    border: 1px solid white;
    width: 100vw;
}
