.homeheading{
    color:white;
    font-size:55px;
    font-weight:500;
    margin:auto;
    margin: 40px 0 40px 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ddcard{
    background-color: #0B0F38;
    padding: 50px;
    display: flex;
    align-items:baseline;
    justify-content: center;
    gap: 40px;
    margin: auto;
    width: 800px;
    border-radius: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.select{
    color:white;
    font-size:20px;
    font-weight:400;
}

.primary-btn{
    height: 50px;
    width: 450px;
    font-weight: 500;
    color:#3E3B61 ;
    background-color:#00C2FF ;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.primary-btn:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
    box-shadow: 4px 4px 0 0 white;
    transition: 0.3s ease-in;
}

