.carousel-container {
    width: 80vw; /* Adjust as per your requirement */
    overflow: hidden;
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    
  }
  
  .carousel-wrapper {
    display: flex;
    transition: left 0.5s ease;
    position: relative;
  }
  
  .carousel-item {
    width: 25vw; /* Adjust as per your requirement */
    height: 25vh;
    flex: 0 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 25px;
    /* align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px; */
    text-align: left;
    font-weight: 600;
    
  }

  mat-icon{
    background-color: #340d38;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .carousel-heading{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin: auto;
    gap: 15px;
  }
  
  h4.heading{
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
  }

  p.description{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    width: 700px;
    text-align: center;
  }