<div class="carousel-heading">
  <h4 class="heading">Scope of VCIP</h4>
  <p class="description">An instant way to open a bank account through Video Customer Identification Process (V-CIP)</p>
</div>

<div class="carousel-container">
    <div class="carousel-wrapper" [style.left]="-currentIndex * 25 + 'vw'">
      <div class="carousel-item" *ngFor="let item of carouselContent" >
         <mat-icon> {{item.iconName}} </mat-icon>
          <span> {{item.text}} </span>
    </div>
    </div>
</div>
<hr class="divider">
  